@charset "utf-8";

h1 {
  font-family: '궁서';
  background-color: mistyrose;
  width: 100%;
  height: 160px;
  text-align: center;
  font-size: 70px;
}
.titlebar {
  /* 제목부분 div클래스 */
  display: inline-block;
  padding: 10px;
}
@keyframes textColorAnimation {
  /*한류(Hallyu)애니메이션 */
  0% {
    color: black;
  }
  50% {
    color: red;
  }
  100% {
    color: blue;
  }
}
p > span {
  /*제목 애니메이션 */
  animation-name: textColorAnimation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
body {
  background-color: rgb(205, 158, 186);
}
#firsthr {
  /*첫 hr */
  border: 3px solid black;
}
table {
  /* 이중 테두리 제거 */
  border-collapse: collapse;
  background-color: mistyrose;
}
td,
th {
  /* 모든 셀에 적용 */
  text-align: left;
  padding: 5px;
  height: 15px;
  width: 170px;
}
thead {
  /* <thead>의 모든 셀에 적용 */
  background: rgb(216, 117, 117);
  color: rgb(113, 213, 220);
}
tbody tr:nth-child(even) {
  /* 짝수 <tr>에 적용*/
  background: aliceblue;
}
tbody tr:hover {
  /* 마우스가 올라오면 pink 배경 */
  background: pink;
}
.rank {
  width: 40px;
  text-align: center;
  font-weight: bold;
}

.divdiv {
  display: inline;
  padding: 50px;
  width: 450px;
  height: 400px;
}
#leftdiv {
  display: inline-block;
}
#rightdiv {
  display: inline-block;
}
