* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@keyframes textColorAnimation {
  /*한류(Hallyu)애니메이션 */
  0% {
    color: black;
  }
  50% {
    color: red;
  }
  100% {
    color: blue;
  }
}
h2 span {
  /*한류(Hallyu)애니메이션 */
  animation-name: textColorAnimation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
.container {
  width: 100%;
  height: 100vh;
  /* background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(imgs/한류.jpg); */
  background: linear-gradient(rgba(94, 94, 94, 0.8), rgba(94, 94, 94, 0.8)),
    url(../imgs/한류.jpg) no-repeat fixed 50% 50%/100% 100%;
}
.container .header {
  width: 80%;
  height: 80px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container .header h1 a {
  text-decoration: none;
  color: white;
  font-family: '궁서';
}

.container .nav ul li {
  display: inline-block;
  margin: 0 10px;
}

.container .nav ul li a {
  text-decoration: none;
  color: white;
}
.container .nav ul li a:hover {
  color: aquamarine;
}

#firsthr {
  /*첫 hr */
  border: 2px solid white;
}

.container .hero {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}
.container .hero h2 {
  font-size: 60px;
  margin-bottom: 20px;
}
.container .hero p {
  font-size: 22px;
}

.container .hero button {
  background: none;
  border: 2px solid darkgreen;
  color: white;
  padding: 15px 20px;
  border-radius: 20px;
  margin-top: 20px;
  outline: none;
  cursor: pointer;
  transition: all 0.4s;
}
.container .hero button:hover {
  background-color: darkslategray;
}

#leftdiv table {
  /* 이중 테두리 제거 */
  border-collapse: collapse;
  background-color: rgb(154, 131, 128);
}
#leftdiv td,
th {
  /* 모든 셀에 적용 */
  text-align: left;
  padding: 5px;
  height: 15px;
  width: 170px;
}
#leftdiv thead {
  /* <thead>의 모든 셀에 적용 */
  background: rgb(61, 59, 59);
  color: rgb(191, 197, 197);
}
#leftdiv tbody tr:nth-child(even) {
  /* 짝수 <tr>에 적용*/
  background: rgb(159, 161, 162);
}
#leftdiv tbody tr:hover {
  /* 마우스가 올라오면 pink 배경 */
  background: rgb(52, 34, 37);
}
#leftdiv .rank {
  width: 45px;
  text-align: center;
  font-weight: bold;
}
.divdiv {
  display: inline;
  margin: 20px;
  padding: 50px;
  width: 620px;
  height: 370px;
}
#leftdiv {
  float: left;
}
#rightdiv {
  display: inline-block;
}
div.details {
  border-style: solid;
  border: 2px solid darkgreen;
}
div.details p {
  font-size: 1em;
}
#viewimg {
  width: 620px;
  height: 370px;
  margin-top: 20px;
}
/* 레시피사이트 이동 이미지 */
#recipeimg {
  width: 300px;
  height: 150px;
  margin-top: 20px;
}
/* 사진 미리보기 폼(버튼) */
#view {
  width: 150px;
  border-color: black;
  font-size: 1em;
  background-color: transparent;
}
.table {
  background: none;
}

#otttable img:hover {
  transform: scale(1.5);
}

#searchform label {
  font-weight: bold;
  width: 100%;
  /* background-color: rgb(154, 131, 128); */
}
